@import 'variables';

.sorting-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  flex-wrap: wrap;

  select {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0.5rem 0;
  }
  input[type='range'] {
    width: 100vw;
    max-width: 300px;
    font-size: 1.5rem;
    display: inline-block;
    margin: 0.5rem 0;
  }

  .filter,
  .proficiency {
    width: 100vw;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    .prof-display {
      display: flex;
      justify-content: center;

      span {
        font-size: 1.2rem;
        display: inline-block;

        &.Beginner {
          color: darken($bad, 9%);
        }

        &.Intermediate {
          color: darken($orange, 9%);
        }

        &.Advanced {
          color: darken($yellow, 9%);
        }

        &.Proficient {
          color: darken($proficient, 9%);
        }
      }
    }
  }
}
