.skills {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
  //grid-auto-rows: 200px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-items: center;
}

.skill-btn-container {
  transition: 0.3s;
  border: solid 1px rgba(0, 0, 0, 0);
  height: 100%;
  //margin: 1rem 0;

  &:hover {
    border: solid 1px rgba(0, 0, 0, 0.2);
  }
}

.skill-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;

  &.selected {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    padding: 40px 0;

    .icon {
      margin: 0 auto 1rem;
      display: block;
      height: 12rem;
      z-index: 3;
    }
  }
}

.skill-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: color 2s;

  .selected & {
    color: black;
    background: rgba(255, 255, 255, 1);
    border-radius: 2rem;

    max-width: 600px;

    @media screen and (max-width: 700px) {
      max-width: calc(100vw - 6rem);
    }

    margin: auto;
    padding: 2rem;
    height: auto;

    .name {
      font-size: 40px;
    }

    .skill-details {
      p {
        margin: 1rem auto;
      }
    }
  }

  .name {
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    display: inline-block;
  }

  .icon-container {
    position: relative;
    width: 100%;
    height: 6rem;
    //object-fit: contain;

    .icon {
      display: block;
      height: 100%;
      margin: auto;
    }
  }
}
