@import '_reset..scss';

@font-face {
  font-family: 'Poppins-bold';
  src: url('/bold.ttf');
}
@font-face {
  font-family: 'Poppins-regular';
  src: url('/regular.ttf');
}
//@font-face {
//  font-family: 'Poppins-thin';
//  src: url('/thin.ttf');
//}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;

  text-align: center;
}

.section-header {
  padding: 3rem 0;
  h1 {
    font-size: 36px;
  }
}
