@keyframes gradient-anim {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(100deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-card {
  //transition: 2s;
  width: 100vw;
  max-height: 100vh;
  //background: linear-gradient(
  //  to left top,
  //  rgba(81, 113, 149, 1),
  //  rgba(90, 95, 158, 1),
  //  rgba(107, 87, 156, 1)
  //);
  background: linear-gradient(
    to left top,
    rgba(72, 208, 221, 1),
    rgba(80, 170, 223, 1),
    rgba(93, 112, 228, 1),
    rgba(131, 89, 227, 1),
    rgba(182, 79, 226, 1),
    rgba(230, 73, 200, 1)
  );

  //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 12s infinite;

  header {
    padding: 10rem 0;

    h1 {
      font-size: 4rem;
      font-family: 'Poppins-bold', 'Arial Black', sans-serif;
      color: white;
    }
    h4 {
      color: white;
      font-size: 2rem;
      font-family: 'Poppins-regular', 'Arial', sans-serif;
    }
  }
}
